<li>
	{{burger_name}}
	{{#unless devoured}}
	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		Devour It!!!
	</button>
	{{/unless}}

	{{#if devoured}}
	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		Re-Stock
	</button>
	{{/if}}
</li>